# Workspace files

Debug/
.metadata/
RemoteSystemsTempFiles
language.settings.xml
.directory


#Individual projects files

led_blink/Debug/
led_blink/.settings/
led_blink/led_blink Debug.cfg
led_blink/led_blink Debug.launch

adc_1ch_polling/Debug/
adc_1ch_polling/.settings/
adc_1ch_polling/adc_1ch_polling Debug.cfg
adc_1ch_polling/adc_1ch_polling Debug.launch

