# Workspace files

Debug/
.metadata/
RemoteSystemsTempFiles
language.settings.xml
.directory


#Individual projects files

led_blink/Debug/
led_blink/.settings/
led_blink/led_blink Debug.cfg
led_blink/led_blink Debug.launch

adc_1ch_polling/Debug/
adc_1ch_polling/.settings/
adc_1ch_polling/adc_1ch_polling Debug.cfg
adc_1ch_polling/adc_1ch_polling Debug.launch

adc_1ch_interruption/Debug/
adc_1ch_interruption/.settings/
adc_1ch_interruption/adc_1ch_interruption Debug.cfg
adc_1ch_interruption/adc_1ch_interruption Debug.launch

timer_ex1/Debug/
timer_ex1/.settings/
timer_ex1/timer_ex1 Debug.cfg
timer_ex1/timer_ex1 Debug.launch

timer_ex2/Debug/
timer_ex2/.settings/
timer_ex2/timer_ex2 Debug.cfg
timer_ex2/timer_ex2 Debug.launch

uart_polling/Debug/
uart_polling/.settings/
uart_polling/uart_polling Debug.cfg
uart_polling/uart_polling Debug.launch

uart_interruption/Debug/
uart_interruption/.settings/
uart_interruption/uart_interruption Debug.cfg
uart_interruption/uart_interruption Debug.launch

iic_polling/Debug/
iic_polling/.settings/
iic_polling/iic_polling Debug.cfg
iic_polling/iic_polling Debug.launch

spi_polling/Debug/
spi_polling/.settings/
spi_polling/spi_polling Debug.cfg
spi_polling/spi_polling Debug.launch

